[submodule "zsh/zsh-auto-notify"]
	path = zsh/zsh-auto-notify
	url = https://github.com/MichaelAquilina/zsh-auto-notify.git
[submodule "vim/pack/plugins/start/vim-gitgutter"]
	path = vim/pack/plugins/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
	branch = master
[submodule "vim/pack/plugins/start/fzf"]
	path = vim/pack/plugins/start/fzf
	url = https://github.com/junegunn/fzf.git
	branch = master
[submodule "vim/pack/plugins/start/fzf.vim"]
	path = vim/pack/plugins/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
	branch = master
[submodule "vim/pack/plugins/start/vim-lion"]
	path = vim/pack/plugins/start/vim-lion
	url = https://github.com/tommcdo/vim-lion.git
	branch = master
[submodule "vim/pack/plugins/start/vim-fugitive"]
	path = vim/pack/plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
	branch = master
[submodule "vim/pack/plugins/start/Coqtail"]
	path = vim/pack/plugins/start/Coqtail
	url = https://github.com/whonore/Coqtail
	branch = master
[submodule "vim/pack/plugins/start/vim-airline"]
	path = vim/pack/plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
	branch = master
[submodule "vim/pack/plugins/start/vim-airline-themes"]
	path = vim/pack/plugins/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
	branch = master
[submodule "vim/pack/plugins/start/coc.nvim"]
	path = vim/pack/plugins/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim
	branch = master
